.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  color: #2e363e;
  position: relative;
}

@keyframes notificationAnimation{
  0%{
      transform:none;
  }
  50%{
transform: translateY(-5px) rotateY(360deg);
  }
  100%{
transform:none;
  }
}

.nav_notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav_dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: flex;
  position: absolute;
  border-radius: 2.5px;
  left: 35px;
  bottom: 30px;
}

@keyframes appearBtnAnimation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: none;
  }

}

.nav_btn{
  transform: translateY(50px);
  opacity:0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav_btn:nth-child(2){
animation-delay: 0.2s;
}

.nav_btn:nth-child(3){
  animation-delay: 0.5s;
}

.nav_btn:last-child{
  animation-delay: 0.8s;
}